* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: gainsboro;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-container {
  height: 300px;
  width: 400px;
  margin-top: 100px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  gap: 40px;
}

.elem-container span {
  border: 2px solid white;
  padding: 15px;
  color: white;
  border-radius: 10px;
  margin: 0 15px;
  cursor: pointer;
}

.elem-container span:hover {
  background-color: #525252;
}
.score-container {
  display: flex;
  gap: 40px;
}

.userScore-container {
  text-align: center;
}
.compScore-container {
  text-align: center;
}
